    html {
        background-image: url("pic/bg.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 50%;
        position: fixed;
        width: auto;
        height: auto;
    }
    img {
        position: relative;
        right: 50%;
        left: 15%;
        width: 180px;
        height: 110px;
        float: left;
        padding: 10px;
        margin: auto;
    }
    .center {
        width: 1000px;
        height: auto;
        position: fixed;
        left: 10%;
        margin: auto;
    }
    .f {
        position: relative;
        right: 50%;
        left: 0px;
        width: 1000px;
        height: 120px;
        float: left;
        padding: 10px;
    }
    .centerpic {
        position: relative;
        right: 50%;
        left: 30%;
        width: 1000px;
        height: auto;
        float: left;
        padding: 10px;
    }
    .centerpic img {
        width: 260px;
        height: 200px;
        position: relative;
        right: 50%;
        left: 11%;
    }
    div .centerpic img {
        padding: 20px;
        height: 200px;
    }

.social a{
    background: url(pic/SPRITE.png) no-repeat;
    display: inline-block;
    height: 84px;
    width: 84px;
}